<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <!-- These are used by Rothamsted/Travis and override the original harti's distro server -->
    
  <servers>

    <server>
      <id>ondex-snapshots</id>
      <username>${env.REPO_USER}</username>
      <password>${env.REPO_PWD}</password>
    </server>

    <server>
      <id>ondex-releases</id>
      <username>${env.REPO_USER}</username>
      <password>${env.REPO_PWD}</password>
    </server>

  </servers>

	<profiles>
		<profile>
			<id>ondexDeploy</id>
			<activation><activeByDefault>true</activeByDefault></activation>
			<properties>
				<distro.id>ondex-releases</distro.id>
				<distro.url>http://ondex.rothamsted.ac.uk/nexus/content/repositories/releases</distro.url>

				<distro.snap.id>ondex-snapshots</distro.snap.id>
				<distro.snap.url>http://ondex.rothamsted.ac.uk/nexus/content/repositories/snapshots</distro.snap.url>			
			</properties>
		</profile>
		
	</profiles>

</settings>
