<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    
    <server>
      <!-- Maven Central Deployment -->
      <id>ossrh</id>
      <username>${env.SONATYPE_USERNAME}</username>
      <password>${env.SONATYPE_PASSWORD}</password>
    </server>
    
    <server>
      <id>knetminer-snapshots</id>
      <username>${env.RRES_ARTIFACTORY_USER}</username>
      <password>${env.RRES_ARTIFACTORY_PWD}</password>
    </server>

    <server>
      <id>knetminer-releases</id>
      <username>${env.RRES_ARTIFACTORY_USER}</username>
      <password>${env.RRES_ARTIFACTORY_PWD}</password>
    </server>
    
  </servers>
  
  <profiles>
  
    <profile>
      <id>ossrh</id>
      <activation>
        <activeByDefault>false</activeByDefault>
      </activation>
      <properties>
        <gpg.executable>${env.GPG_EXECUTABLE}</gpg.executable>
        <gpg.passphrase>${env.GPG_PASSPHRASE}</gpg.passphrase>
      </properties>
    </profile>
    
		<profile>
			<id>rres-deploy</id>
			
			<properties>
				<distro.id>${knetminer.mvnrepo.rel.id}</distro.id>
				<distro.url>${knetminer.mvnrepo.rel.url}</distro.url>

				<distro.snap.id>${knetminer.mvnrepo.snapshots.id}</distro.snap.id>
				<distro.snap.url>${knetminer.mvnrepo.snapshots.url}</distro.snap.url>
			</properties>
		</profile>
		    
  </profiles>
</settings>
